<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>

		<listener class-name="com.listener.ExtentReportListener">
		</listener>
	</listeners>

	<test name="testsss">

		<classes>
	
			<class name="com.tc.Tcs"></class>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
